.articleBg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article{
    background-color: white;
    width: 700px;
    height: 100%;
    border-radius: 8px;
    padding: 1rem;

}
.titulo{
    text-align: center;
}
.icon{
    color: grey;
    font-size: 1.5rem;
    cursor: pointer;
    float: right;
}
.imagen img{
    width: 350px;
}
.modal{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.instrucciones{
    height: 200px;
    width: 350px;
    background: white;
    overflow-y: scroll;
    padding: 6px;
}
.instrucciones2{
    height: 200px;
    width: 350px;
    background: white;
    overflow-y: scroll;
    padding: 6px;
}
.instrucciones p{
    width: 100%;
}


@media (min-width: 700px){
    .modal{
        display: flex;
        flex-direction: row;
    }
    .instrucciones2{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 100%;
        overflow:auto;
        background: white;
        border: none;

    }

    
}